
.container {
    background-color: transparent !important;
    height: 100px;
}

.groupbutton {
    width: 200px;
    height: 68px;
    float: left;
    margin:0;
    padding:0;
    margin-top:16px;
}

.groupbutton a {
    color: #000;
}

.lang-change {
    font-size: 10px;
    border: 0px;
}

.signupbutton {
    width: 94px;
    height: 68px;
    background-color: #FCC624;
    float: left;
    cursor: pointer;
    text-align: center;
}

.signupbutton span {
    font-size: 15px;
    display: block;
    font-weight: bold;
    line-height: 37px;
}

.signupbutton strong {
    font-size: 20px;
    display: block;
    font-weight: bold;
    line-height: 31px;
    font-weight: bold;
}

.freebutton {
    width: 94px;
    height: 68px;
    background-color: #fff;
    border: 2px solid #FCC624;
    float: right;
    text-align: right;
    cursor: pointer;
}

.freebutton span {
    font-size: 25px;
    padding-right: 19px;
    display: block;
    font-weight: bold;
    line-height: 31px;
}

.toplogo {
    height: 88px;
    margin-top: 6px;
    width: 51px;
    margin-right: auto;
    margin-left: auto;
}

.currency {
    height: 26px;
}

.top_menu {
    width: auto;
    height: 20px;
    float: right;
    font-size: 10px;
    margin-top: 6px;

}

.top_menu li {
    display: block;
    float: right;
    padding-left: 10px;
    cursor: pointer;
}

.top_menu li img {
    float: right;
    padding-left: 5px;
    display: block;
}

.register_and_profile {

    height: 18px;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.register_and_profile li {
    display: block;
    float: right;
    padding-right: 7px;
    cursor: pointer;
}

.register_and_profile li:nth-child(1),.register_and_profile li:nth-child(2) {
    display: block;
    float: right;
    padding-left: 7px;
    cursor: pointer;
    border-left: 1px solid #800000;
}

.menu {
    width: auto;
    height: 30px;
    position: absolute;
    bottom: 0;

}

.menu li {
    float: right;
    display: block;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;

}

.menu li:nth-child(1) ،.menu li:nth-child(2) {
    display: block;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-left: 1px solid #800000;
    line-height: normal;

}

.menu li img {
    float: right;
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    margin-top: 5px;
}

.learning_music_block {
    width: 40%;
    height: 350px;
    margin-top: 250px;
    margin-bottom: 75px;
}

.title_learning_music {
    width: 100%;
    height: 130px;
    text-align: center;

}

.title_learning_music span {
    font-size: 55px;
    color: #FCC624;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title_free_account {
    width: 100%;
    height: 80px;
    text-align: center;

}

.title_free_account span {
    font-size: 55px;
    color: #FCC624;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title_learning_music span:nth-child(2) {
    color: #fff;
    font-size: 25px;
    text-shadow: none;
    clear: both;
    display: block;
}

.get_free_cores {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.get_free_cores span {
    font-size: 30px;
    color: #fff;
    opacity: 1;
    display: block;
    padding-top: 30px;

}

.enter_your_email {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;

}

.enter_your_email span {
    font-size: 23px;
    color: #fff;
    opacity: 1;
    display: block;
    padding-top: 30px;

}

.enter_your_email span strong {
    font-size: 23px;
    color: #FCC624;

}

.group_button_get_free {
    width: 90%;
    height: 55px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.group_button_get_free li {
    width: 48%;
    height: 55px;
    display: block;
    float: left;
    background-color: #fff;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}

.group_button_get_free li:nth-child(1) {
    width: 48%;
    height: 55px;
    display: block;
    float: right;
    background-color: #FCC624;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}

.banner_i3zef {
    width: 100%;
    height: auto;
    background-color: #FCC624;
    margin-top: 250px;
    text-align: center;
}

.banner_i3zef span {
    font-size: 35px;
    color: #000;
    line-height: normal;
}

.video_with_text {
    margin-top: 100px;
    width: 53%;
}

.video_array {
    width: 100%;
    height: 340px;
    background-image: url(../img/img-1.jpg);
    opacity: 0.4;
}

.text_array {
    color: #fff;
    margin-top: 10px;
}

.text_array span {
    color: #fff;
    padding-top: 10px;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

.button_test_here {
    width: 20%;
    height: 55px;
    background-color: #FCC624;
    float: left;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button_test_here span {
    color: #000;
    font-size: 25px;
    line-height: 55px;
}

.blocks_array {
    width: 100%;
    height: 500px;
    background: transparent !important;
}

.block-one {
    width: 100%;
    background-color: #222;
    height: auto;
    display: table;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2%;
    margin-bottom: 25px;
}

.block-one span {
    color: #fff;
    display: block;
    float: left;
    width: 60%;
    height: 100px;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 11px;
}

.container {
    background-color: transparent !important;
    display: table !important;
}

.block-one img {
    float: right;
    margin-top: 10px;
    width: 27%;
    margin: 10px

}

.footer {
    width: 100%;
    height: 130px;
    background-color: #fff !important;
    float: right;
    margin-top: 40px;
}

.inner-footer {
    height: 120px;
}

.footer_logo {
    width: 82px;
    height: 84px;
    float: left;
    margin-top: 20px;
}

.inner-footer ul {
    display: block;
    float: right;
    width: 260px;
    margin-top: 20px;
}

.inner-footer li {
    display: block;
    float: right;
    width: 130px;
}

.inner-footer li a {
    display: block;
    float: right;
    width: auto;
    text-decoration: none;
    color: #000;
}

.inner-footer li img {
    margin-left: 5px;
    display: block;
    float: right;
    margin-top: 5px;
}

.fa-circle {
    color: #800000;
    font-size: 6px !important;
    padding-left: 5px;
    line-height: normal;
}

.social_icon {
    float: right;
    display: block;
    width: 130px;
    height: 25px;
    clear: right;
    padding: 0;
}

.social_icon ul {
    width: 130px;
    height: 25px;
    display: block;
    margin-top: 0;

}

.social_icon li {
    width: 20px;
    font-size: 20px;
    float: left;
    display: block;
    margin-left: 5px;
}

.fa-facebook-square {
    color: #4D6AA2;
}

.fa-twitter-square {
    color: #8FDAF4;
}

.fa-youtube-square {
    color: #B2080B;
}

.fa-instagram {
    color: #5B85AD;
}

.fa-google-plus-square {
    color: #B2080B;
}

.copy_right {
    width: 400px;
    height: 20px;
    float: right;
    margin-right: 10px;
}

.copy_right span {
    font-size: 10px;
}

.form_your_emial {
    margin-top: 10px;
    width: 78%;
    /* display: block; */
    height: 50px;
}

.your_email {
    width: 68% !important;
    height: 41px !important;
    float: left;
    /* margin-left: 10%; */
    border-style: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-right: 10px;

}

.your_email:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
}

.i3zef_button {
    width: 30%;
    height: 41px;
    background-color: #FCC624;
    border-style: none;
    font-size: 20px;
    /* margin-top: 5px; */
    float: right;
}

.copy_right_text {
    width: 78%;
    height: 40px;
    background-color: #1A1A1A;
    margin-right: 11%;
}

.copy_right span {
    font-size: 10px !important;
}

.copy_right_text span {
    color: #ccc;
    font-size: 10px;
    line-height: 40px;
    clear: both;
    padding: 0;
}

.copy_right_text span a {
    color: #FCC624;
}

.slider_i3zef {
    width: 100%;
    height: 450px;
    background-color: red;
    margin-top: 100px;
}

.slider_i3zef img {
    width: 100%;
    height: 450px;
}

.icons_music {
    width: 100%;
    height: 70px;

}

.icons_music img {
    text-align: left;
}

.icons_music span {
    text-align: left;
    vertical-align: middle;
}

.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

.row.no-pad > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.icons_music a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    cursor: pointer !important;
}

.icons_music a:hover {

    cursor: pointer;
}

#margin_top_only {
    margin-top: 130px;
    padding-left: 3%;
    padding-right: 3%;

}

#margin_top_only2 {
    margin-top: 100px;
}

.icons_music a img {
    text-align: left;
    width: 100%;
    height: auto;
}

.icons_music span {
    text-align: left;
    font-size: 1em;
}

/* Icon Buzz Out */
@-webkit-keyframes hvr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }
}

@keyframes hvr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }
}

.hvr-icon-buzz-out {
    transition-duration: 0.3s;
}

.hvr-icon-buzz-out:hover, .hvr-icon-buzz-out:focus, .hvr-icon-buzz-out:active {
    -webkit-animation-name: hvr-icon-buzz-out;
    animation-name: hvr-icon-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: #000;
    text-decoration: none;
}

.videos-box {

    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.title_video {
    width: 100%;
    height: 50px;
    background-color: #4D4D4D;
    text-align: center;
}

.title_video span {
    font-size: 25px;
    color: #fff;
    line-height: 50px;

}

.video-array {
    width: 100%;
    height: 250px;
    margin-top: 7px;
    text-align: center;
    position: relative;
}

.video-array button {
    width: 76px;
    height: 76px;
    background: transparent;
    border: none;
    margin-top: 85px;
    z-index: 999;

}

.img_test {
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.dis_video_2 {
    width: 100%;
    height: 80px;
    margin-top: 7px;
    font-size: 12px;
}

.videos-box_2 {

    height: 302px;
    overflow: hidden;
    margin-bottom: 20px;
}

.title_video_2 {
    width: 100%;
    height: 40px;
    background-color: #400000;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0.5em;
}

.title_video_2 span {
    font-size: 17px;
    color: #fff;
    line-height: 18px;

}

.video-array_2 {
    width: 100%;
    height: 200px;
    margin-top: 7px;
    text-align: center;
    position: relative;

}

.video-array_2 button {

    background: transparent;
    border: none;
    margin-top: 65px;
    z-index: 999;

}

.img_test_2 {
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.img_test {
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.dis_video {
    width: 100%;
    height: 80px;
    margin-top: 7px;
}

.boxs-right-top {
    width: 100%;
    /*height: 400px;*/
    margin-bottom: 25px;
}

.boxs-right-top-title {
    width: 100%;
    height: 40px;
    background-color: #400000;
    text-align: right;
}

.boxs-right-top-title span {
    font-size: 18px;
    color: #fff;
    padding-right: 10px;
    line-height: 40px;
}

.boxs-right-top-discrption {
    font-size: 12px;
    color: #000;
    padding-right: 10px;
    margin-top: 15px;
    width: 100%;
}

.boxs-right-top-discrption span {
    font-size: 12px;
    color: #000;
    padding-right: 10px;
    margin-top: 15px;
    width: 95%;
    display: block;
    line-height: 16px;
    /*height: 190px;*/

}

.boxs-right-top-discrption img {
    width: 238px;
    height: 172px;
    float: left;

}

.boxs-right-top-discrption ul {
    width: 150px;
    height: 40px;
    margin-top: 60px;
}

.boxs-right-top-discrption li {
    float: right;
    width: 60px;
    height: 35px;
    font-size: 25px;
    color: #000;

}

.boxs-right-top-discrption li:nth-child(1) {
    border-left: 1px solid #000;
    padding-left: 10px;
    margin-left: 10px;
}

.boxs-right-top-discrption li span {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.boxs-right-top-discrption button, .course_button {

    height: 45px;
    border-radius: 7px;
    background-color: #FCC624;
    border-style: none;
    font-size: 15px;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
}

.video_gallary {
    width: 100%;
    /*height: 300px;*/
    background-color: #fff;
    margin-bottom: 25px;
}

.main-video {
    width: 100%;
    height: 300px;
    background-color: black;
}

.video_gallary ul {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    padding-right: 1%;
    text-align: center;
}

.free-videos-row {
    margin: 0px;
}

.free-video-block {
    width: 165px;
    height: auto;
    /* background-color: black; */
    font-size: 11px;
    padding: 0px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.free-video-block p {
    padding: 3px
}

/*.video_gallary li:nth-child(4), .video_gallary li:nth-child(5), .video_gallary li:nth-child(6) {
    width: 31%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    height: 20px;
    margin-top: 3px;
    background-color: transparent !important;
    color: #000;
    font-size: 12px;
}*/

.main-video button {
    background: transparent;
    border-style: none;
    margin-top: 50px;
    margin-right: 40%;
}

.fhras {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.title-fhras {
    width: 100%;
    height: 40px;
    background-color: #3F3B44;
    text-align: right;
}

.title-fhras span {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    padding-right: 15px;

}

.fhras-img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.fhras-img img {
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;

}

.box-left-bottom {
    width: 100%;
    /*height: 200px;*/
}

a.locked {
    color: #60829E;
    text-decoration: none;

}

a.locked:hover, a.locked:focus {
    color: #ccc;
    text-decoration: none;
}

.box-left-bottom span {
    width: 75%;
    height: auto;
    font-size: 12px;
    color: #000;
    float: right;
    margin-top: 15px;
    line-height: 16px;
}

.box-left-bottom img {
    width: 22%;
    float: left;
    margin-top: 15px;
}

.box-left-bottom-title {
    width: 100%;
    height: 40px;
    background-color: #CCCCCC;
    text-align: right;
}

.box-left-bottom-title span {
    color: #000;
    font-size: 20px;
    line-height: 40px;
    padding-right: 15px;
    margin: 0;

}

.profile-header-img {
    width: 100%;
    height: 115px;
}

.subscriptions-table {
    width: 90%;
    margin: 0 auto;
}

.subscriptions-table th {
    text-align: center;
    font-size: 16px
}

.subscriptions-table tr, .subscriptions-table td {
    text-align: center;
    font-size: 13px;
}

.sweet-alert {
    font-family: 'i3zef' !important;
}

.profile-header-img img {
    float: left;
    width: 20px;
    margin-top: 75px;
    margin-left: 10px;
    opacity: 0.6;
    border-bottom: 1px solid #ccc;
}

.profile-col {
    width: 100%;
    background-color: #fff;

}

.col-md-2 {
    /*background-color: #fff;
    height: 500px;
    display:block;*/
}

.profile-pic {
    position: relative;

}

.profile-pic img {
    width: 80%;
    height: auto;
    position: absolute;
    top: -70px;
    left: 10%;
    z-index: 9;

}

.camera_ {
    position: absolute;
    top: -65px;
    left: 11%;
    font-size: 15px;
    color: #fff;
    z-index: 999999999;
    background: transparent;
    border-style: none;
    display: block;
}

.profile-form {
    width: 100%;
    float: right;
    margin-top: 80px;
}

.profile-form label {
    font-size: 11px;
    float: right;
    height: 28px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    display: block;
    clear: right;
    width: 45%;
}

.profile-form span[class*="editable"] {
    float: left;
    width: 50%;
    font-size: 10px;
    text-align: left;
    height: 28px;
    padding-top: 10px;


}

.pof-menu li {
    float: right;
    display: block;
    width: 100px;
    height: 20px;
    font-size: 13px;
    border-right: 1px solid #000;
    text-align: center;
}

.pof-menu li:nth-child(1) {
    float: right;
    display: block;
    width: 100px;
    height: 25px;
    font-size: 13px;
    border: none;
}

.height_100 {
    height: 725px;
}

.big_video_page {
    width: 100%;
    height: 530px;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
}

.big_video_array_ {
    width: 100%;
    height: 450px;
    background: #000;
}

#comments-container {
    padding: 15px;
    display: none;
}

.add-comment {
    color: #000 !important;
}

.big_video_array_ button.video-btn {
    background: transparent;
    border-style: none;
    margin-top: 180px;
    margin-right: 40%;
    position: absolute;
    z-index: 99999;
}

.no-subscription {
    width: 460px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
}

.video_100 {
    width: 100%;
    height: 400px;
}

.big_video_page ul {
    height: auto;
    float: right;

    text-align: right;
}

.big_video_page li {
    float: right;
    display: block;
    width: 145px;

    border: 1px solid #eee;
    padding: 6px;
}

.big_video_page li img {
    display: block;
    float: right;
    margin-right: 11px;
    margin-left: 10px;
}

.big_video_page span {
    display: block;
    line-height: 40px;

    font-size: 13px;
}

.next_prev {
    width: 200px;
    height: 40px;
    float: left;
}

.next_prev li {
    width: 100px;
    height: 30px;
}

.next_prev img {
    margin: 5px;
}

.m-t-25px {
    margin-top: 25px;
}

.box-right-title {
    width: 100%;
    height: 40px;
    background-color: #400000;
    text-align: right;
}

.box-right-title span {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    padding-right: 15px;
    margin: 0;
    margin-top: 0 !important;

}

.file {
    color: #000
}

.filelist {
    padding: 20px;
}

.box-right-bottom_ {
    width: 100%;
    height: auto;
}

.box-right-bottom_ span {
    margin-top: 15px;
    display: block;
    height: auto;
}

.box-right-bottom_ span.description {
    line-height: 18px;
    font-size: 13px;
}

@media screen and (max-width: 1200px) {

    body {
        background-color: #E5E5E5;
    }

    .slider_i3zef {
        width: 100%;
        height: 300px;
        margin-top: 100px;
    }

    .slider_i3zef img {
        width: 100%;
        height: 300px;
    }

    .icons_music {
        width: 100%;
        height: auto;
    }

    .icons_music img {
        text-align: left;
    }

    .icons_music span {
        text-align: left;
        padding-left: 10px;
    }

    .icons_music a {
        text-decoration: none;
        color: #000;
        text-align: center;
        display: block;
    }

    .navbar.smaller {
        height: 50px;
    }

    .navbar.smaller .groupbutton {
        display: block;
    }

    .social_icon ul {
        width: 200px;
    }

    .social_icon li {
        width: 34px;
        font-size: 35px;
    }

    .social_icon {
        float: right;
        display: block;
        width: 130px;
        height: 39px;
        clear: right;
        padding: 0;
    }

    .footer {
        height: 150px;
    }

    .learning_music_block {
        width: 40%;
        height: 350px;
        margin-top: 175px;
        margin-bottom: 130px;
    }

    .title_learning_music span {
        font-size: 40px;
    }

    .title_free_account span {
        font-size: 40px;
    }

    .get_free_cores span {
        padding-top: 0;
    }

    .banner_i3zef {
        margin-top: 65px;
    }

    .banner_i3zef span {
        font-size: 25px;
    }

    .learning_music_block {
        width: 100%
    }

    .video_with_text {
        margin-top: 100px;
        width: 95%;
    }

    .toplogo {
        height: 90px;
        /* float: right; */
        position: absolute;
        top: 0;
        right: 12px;
    }

    .get_free_cores {
        height: 162px;
    }

}

@media screen and (max-width: 767px) {
    .big_video_page span {
        display: none;
    }

    .big_video_page li {
        width: 50px;
        float: right;
    }

    .next_prev {
        float: left;
        width: 75px;
    }

    .next_prev li {
        width: 35px;
    }

    .col-md-2 {
        float: left !important;
    }

    .profile-videos {
        float: right !important;
    }

    .pof-menu li {
        font-size: 10px;
        width: 80px;
        float: right;
    }

    form.profile-form {
        margin-top: 100px;
    }

    .camera_ {
        left: 25%;
    }

    .height_100 {
        height: 350px;
    }

    .profile-pic img {
        width: 60%;
        left: 20%;
    }

    body {
        background-color: #E5E5E5;
    }

    .slider_i3zef {
        display: none;
    }

    .icons_music {
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .icons_music img {
        text-align: left;
    }

    .icons_music span {
        text-align: left;
        padding-left: 10px;
    }

    .icons_music a {
        text-decoration: none;
        color: #000;
    }

    .col-md-3 {
        text-align: center;
        border: none;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .copy_right_text {
        width: 90% !important;
        height: 40px !important;
        background-color: #1A1A1A !important;
        display: table;
        float: right !important;
        margin-right: 5%;
        margin-top: 5px;
    }

    .copy_right_text span {
        color: #ccc !important;
        font-size: 10px !important;
        line-height: 40px !important;
        clear: both;
        padding: 0 !important;
    }

    .copy_right_text span a {
        color: #FCC624 !important;
    }

    .form_your_emial {
        margin-top: 10px;
        width: 90%;
        /* display: block; */
        height: 50px;
    }

    .your_email {
        width: 100% !important;
        height: 41px !important;
        border-style: none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .your_email:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
    }

    .your_email {
        padding-right: 10px;
    }

    .i3zef_button {
        width: 100%;
        height: 40px;
        background-color: #FCC624;
        border-style: none;
        font-size: 20px;
        margin-top: 5px;
    }

    .enter_your_email {
        width: 100%;
        height: 245px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 10px;
    }

    .enter_your_email span {
        font-size: 20px;
        color: #fff;
        opacity: 1;
        display: block;
        padding-top: 10px;

    }

    .enter_your_email span strong {
        font-size: 20px;
        color: #FCC624;

    }

    .button_test_here {
        width: 100%;
    }

    .navbar.smaller {
        height: 50px;
    }

    .navbar.smaller .menu {
        display: none;
        float: left;
    }

    .navbar.smaller .groupbutton {
        display: block;
    }

    .social_icon ul {
        width: 200px;
    }

    .social_icon li {
        width: 34px;
        font-size: 35px;
    }

    .social_icon {
        float: right;
        display: block;
        width: 130px;
        height: 39px;
        clear: right;
        padding: 0;
    }

    .footer {
        height: 150px;
    }

    .learning_music_block {
        width: 40%;
        height: 350px;
        margin-top: 175px;
    }

    .copy_right span {
        font-size: 9px;
    }

    .title_learning_music span {
        font-size: 40px;
    }

    .get_free_cores span {
        font-size: 23px;
        padding-top: 26px;
    }

    .group_button_get_free li:nth-child(1) {
        width: 100%;
    }

    .group_button_get_free li {
        width: 100%;
        margin-top: 10px;
    }

    .banner_i3zef {
        margin-top: 65px;
    }

    .banner_i3zef span {
        font-size: 25px;
    }

    .learning_music_block {
        width: 100%
    }

    .video_with_text {
        margin-top: 40px;
        width: 95%;
    }

    .video_array {
        height: 210px;
    }

    .copy_right {
        width: 100%;
        height: 20px;
        float: right;
        margin-right: 10px;
        display: block;
        clear: right;
        text-align: center;
    }

    .groupbutton {
        display: none;

    }

    .menu {
        width: 250px;
        height: 30px;
        /* position: absolute; */
        bottom: 0;
        margin-right: 97px;
    }

    .top_menu {
        width: auto;
        height: 20px;
        float: right;
        font-size: 10px;
        margin-top: 6px;
        margin-right: 112px;
    }

    .toplogo {
        height: 90px;
        /* float: right; */
        position: absolute;
        top: 0;
        right: 12px
    }

    .get_free_cores {
        height: 258px;
    }
}

tr.current {
    border: 3px solid #ccc;
}

tr.current td, tr.current th {
    background: #DCDADA !important;
}

.big_video_page li a .fa {
    font-size: 25px !important;
    color: #400000
}

.video_buttons_group {
    float: right;
    margin-top: 1.3em;
    margin-right: 1.3em;
}

.video_buttons_group button {
    font-size: 13px;
}

.video_buttons_group button .fa {
    font-size: 20px !important;
    color: #400000;
}

.video_next_prev_group {
    margin-top: 1.3em;

}

.video_next_prev_group button .fa {
    font-size: 20px !important;
    color: #400000;
}

blockquote {
    font-size: 12px;
    font-style: italic;
    font-weight: bolder;
    padding: 10px;
    color: #000;
}


.activeMenu{
    color: maroon;
}

td.VideoNumber{
    width: 1em;
    text-align: center;
    vertical-align: middle!important;
    font-size: 12px;
    font-weight: bolder;
    color:#000;
}

.subscribeForm{
    margin-top: 0.1em;
    /* margin: 0 auto; */
    margin-left: 35%;
    margin-right: 35%;
}
.editable-clear-x{
    padding-top: 0px!important;
    margin-top: -1.4em!important;
    width: 15px!important;
}


@media only screen and (max-device-width: 480px) {
    .img_test_2, .video-array_2{
        height: 150px;
    }

    .video-array_2 button{
        margin-top: 35px;
    }
    .videos-box_2{
        height: 225px;
    }
    .fillter_all {
        display: none;
    }

}