@import "reset.css";

@font-face {
    font-family: 'i3zef';
    src: url('ara_fonts/i3zef-Reg.eot');
}

@font-face {
    font-family: 'i3zef';
    src: url('ara_fonts/i3zef-Reg.ttf');
}

@font-face {
    font-family: 'i3zef Bold';
    src: url('ara_fonts/i3zef-Bold.eot');
}

@font-face {
    font-family: 'i3zef Bold';
    src: url('ara_fonts/i3zef-Bold.ttf');
}

body {
    font-family: 'i3zef';
    background: #E5E5E5;
}

div {
    direction: rtl;
}

.video-section .pattern-overlay {
    padding: 70px 0 32px;
    min-height: 550px;
    background-color: rgba(71, 71, 71, 0.59);
    /* Incase of overlay problems just increase the min-height*/
}

.video-section h1, .video-section h3 {
    text-align: center;
    color: #fff;
}

#video_background {
    position: absolute;
    top: 100px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.container {
    background-color: #fff !important;
    height: 100px;
}

.groupbutton {
    width: 200px;
    height: 68px;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 16px;
}

.groupbutton a {
    color: #000;
}

.lang-change {
    font-size: 10px;
    border: 0px;
}

.signupbutton {
    width: 94px;
    height: 68px;
    background-color: #FCC624;
    float: left;
    cursor: pointer;
    text-align: center;
}

.signupbutton span {
    font-size: 15px;
    display: block;
    font-weight: bold;
    line-height: 37px;
}

.signupbutton strong {
    font-size: 20px;
    display: block;
    font-weight: bold;
    line-height: 31px;
    font-weight: bold;
}

.freebutton {
    width: 94px;
    height: 68px;
    background-color: #fff;
    border: 2px solid #FCC624;
    float: right;
    text-align: right;
    cursor: pointer;
}

.freebutton span {
    color: #000;
    font-size: 25px;
    padding-right: 19px;
    display: block;
    font-weight: bold;
    line-height: 31px;
}

.toplogo {
    height: 88px;
    margin-top: 6px;
    width: 51px;
    margin-right: auto;
    margin-left: auto;
}

.currency {
    height: 26px;
}

.top_menu {
    width: 145px;
    height: 20px;
    float: right;
    font-size: 10px;
    margin-top: 6px;
}

.top_menu li {
    display: block;
    float: right;
    padding-left: 10px;
    cursor: pointer;
}

.top_menu li img {
    float: right;
    padding-left: 5px;
    display: block;
}

.register_and_profile {
    width: 120px;
    height: 18px;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.register_and_profile li {
    display: block;
    float: right;
    padding-right: 7px;
    cursor: pointer;
}

.register_and_profile li a {
    color: #000;
}

.register_and_profile li:nth-child(1) {
    display: block;
    float: right;
    padding-left: 7px;
    cursor: pointer;
    border-left: 1px solid #800000;
}

.menu {
    width: auto;
    height: 30px;
    position: absolute;
    bottom: 0;

}

.menu li {
    float: right;
    display: block;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;

}

.menu li:nth-child(1), .menu li:nth-child(2) {
    display: block;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-left: 1px solid #800000;
    line-height: normal;

}

.menu li img {
    float: right;
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    margin-top: 5px;
}

.learning_music_block {
    width: 40%;
    height: 350px;
    margin-top: 250px;
    margin-bottom: 75px;
}

.title_learning_music {
    width: 100%;
    height: 130px;
    text-align: center;

}

.title_learning_music span {
    font-size: 55px;
    color: #FCC624;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title_free_account {
    width: 100%;
    height: 80px;
    text-align: center;

}

.title_free_account span {
    font-size: 55px;
    color: #FCC624;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title_learning_music span:nth-child(2) {
    color: #fff;
    font-size: 25px;
    text-shadow: none;
    clear: both;
    display: block;
}

.get_free_courses {
    padding-top: 20px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.get_free_courses span {
    font-size: 30px;
    color: #fff;
    opacity: 1;
    display: block;
    padding-top: 30px;

}

.enter_your_email {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;

}

.enter_your_email span {
    font-size: 23px;
    color: #fff;
    opacity: 1;
    display: block;
    padding-top: 30px;

}

.enter_your_email span strong {
    font-size: 23px;
    color: #FCC624;

}

.group_button_get_free {
    width: 90%;
    height: 55px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.group_button_get_free li {
    width: 48%;
    height: 55px;
    display: block;
    float: left;
    background-color: #fff;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}

.group_button_get_free li:nth-child(1) {
    width: 48%;
    height: 55px;
    display: block;
    float: right;
    background-color: #FCC624;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}

.banner_i3zef {
    width: 100%;
    height: auto;
    background-color: #FCC624;
    margin-top: 225px;
    text-align: center;
}

.banner_i3zef span {
    font-size: 35px;
    color: #000;
    line-height: normal;
}

.video_with_text {
    margin-top: 100px;
    width: 53%;
}

.video_array {
    width: 100%;
    height: 340px;
    opacity: 0.4;
}

.text_array {
    color: #fff;
    margin-top: 10px;
}

.text_array span {
    color: #fff;
    padding-top: 10px;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

.button_test_here {
    width: 20%;
    height: 55px;
    background-color: #FCC624;
    float: left;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button_test_here span {
    color: #000;
    font-size: 25px;
    line-height: 55px;
}

.blocks_array {
    width: 100%;
    height: 500px;
    background: transparent !important;
}

.block-one {
    width: 100%;
    background-color: #222;
    height: auto;
    display: table;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 2%;
    margin-bottom: 25px;
}

.block-one span {
    color: #fff;
    display: block;
    float: left;
    width: 60%;
    height: 100px;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 11px;
}

.container {
    background-color: transparent !important;
    display: table !important;
}

.block-one img {
    float: right;

    margin-top: 10px;
    width: 27%;
    margin: 10px

}

.footer {
    width: 100%;
    height: 130px;
    background-color: #fff !important;
    float: right;
}

.inner-footer {
    height: 120px;
}

.footer_logo {
    width: 82px;
    height: 84px;
    float: left;
    margin-top: 20px;
}

.inner-footer ul {
    display: block;
    float: right;
    width: 260px;
    margin-top: 20px;
}

.inner-footer li {
    display: block;
    float: right;
    width: 130px;
}

.inner-footer li a {
    display: block;
    float: right;
    width: 130px;
    text-decoration: none;
    color: #000;
}

.inner-footer li img {
    margin-left: 5px;
    display: block;
    float: right;
    margin-top: 5px;
}

.fa-circle {
    color: #800000;
    font-size: 6px !important;
    padding-left: 5px;
    line-height: normal;
}

.social_icon {
    float: right;
    display: block;
    width: 130px;
    height: 25px;
    clear: right;
    padding: 0;
}

.social_icon ul {
    width: 130px;
    height: 25px;
    display: block;
    margin-top: 0;

}

.social_icon li {
    width: 20px;
    font-size: 20px;
    float: left;
    display: block;
    margin-left: 5px;
}

.fa-facebook-square {
    color: #4D6AA2;
}

.fa-twitter-square {
    color: #8FDAF4;
}

.fa-youtube-square {
    color: #B2080B;
}

.fa-instagram {
    color: #5B85AD;
}

.fa-google-plus-square {
    color: #B2080B;
}

.copy_right {
    width: 400px;
    height: 20px;
    float: right;
    margin-right: 10px;
}

.copy_right span {
    font-size: 10px;
}

.navbar {
    direction: rtl;
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar.smaller {
    height: 50px;
}

.navbar.smaller .navbar-right {
    display: none;
}

.navbar.smaller .toplogo img {
    height: 35px;
    float: right;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar.smaller .toplogo {
    float: right;
}

.navbar.smaller .menu {
    margin-right: 40px;
    height: 34px;
    margin-top: 0px;
}

.navbar.smaller .navbar-inverse {
    border-color: #FCC624;
}

.navbar.smaller .groupbutton {
    width: 311px;
    height: 50px;
    float: left;
    margin: 0;
    padding: 0;
    /* margin-top: 16px; */
}

.navbar.smaller .signupbutton {
    width: 150px;
    height: 50px;
    background-color: #FCC624;
    float: left;
    cursor: pointer;
    text-align: center;
}

.navbar.smaller .signupbutton span {
    font-size: 14px;
    display: block;
    font-weight: bold;
    line-height: 19px;
    width: 50px;
    margin-right: 10px;
    margin-top: 6px;
    float: right;
    color: #000
}

.navbar.smaller .signupbutton strong {
    font-size: 20px;
    display: block;
    font-weight: bold;
    line-height: 31px;
    float: left;
    margin-left: 10px;
    margin-top: 13px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 73px;
    height: 44px;
    clear: left;
}

.navbar.smaller .container {
    height: 50px;

}

.navbar.smaller .freebutton {
    width: 150px;
    height: 49px;
    background-color: #fff;
    border: 2px solid #FCC624;
    float: right;
    text-align: right;
    cursor: pointer;
}

.navbar.smaller .freebutton span {
    font-size: 20px;
    padding-right: 26px;
    display: block;
    font-weight: bold;
    line-height: 47px;
}

.form_your_emial {
    margin-top: 10px;
    width: 78%;
    /* display: block; */
    height: 50px;
}

.your_email {
    width: 68% !important;
    height: 41px !important;
    float: left;
    /* margin-left: 10%; */
    border-style: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-right: 10px;

}

.your_email:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
}

.i3zef_button {
    width: 30%;
    height: 41px;
    background-color: #FCC624;
    border-style: none;
    font-size: 20px;
    /* margin-top: 5px; */
    float: right;
}

.copy_right_text {
    width: 78%;
    height: 40px;
    background-color: #1A1A1A;
    margin-right: 11%;
}

.copy_right_text span {
    color: #ccc;
    font-size: 10px;
    line-height: 40px;
    clear: both;
    padding: 0;
}

.copy_right_text span a {
    color: #FCC624;
}

.slider_i3zef {
    width: 100%;
    height: 450px;
    background-color: red;
}

@media screen and (max-width: 1200px) {

    #video_background {
        position: absolute;
        top: 100px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
    }

    .navbar.smaller {
        height: 50px;
    }

    .navbar.smaller .groupbutton {
        display: block;
    }

    .social_icon ul {
        width: 200px;
    }

    .social_icon li {
        width: 34px;
        font-size: 35px;
    }

    .social_icon {
        float: right;
        display: block;
        width: 130px;
        height: 39px;
        clear: right;
        padding: 0;
    }

    .footer {
        height: 150px;
    }

    .learning_music_block {
        width: 40%;
        height: 350px;
        margin-top: 175px;
        margin-bottom: 130px;
    }

    .copy_right span {
        font-size: 9px;
    }

    .title_learning_music span {
        font-size: 40px;
    }

    .title_free_account span {
        font-size: 40px;
    }

    .get_free_courses span {
        padding-top: 0;
    }

    a {
        color: #000 !important;
    }

    .banner_i3zef {
        margin-top: 115px;
    }

    .banner_i3zef span {
        font-size: 25px;
    }

    .learning_music_block {
        width: 100%
    }

    .video_with_text {
        margin-top: 100px;
        width: 95%;
    }

    .copy_right {
        width: 100%;
        height: 20px;
        float: right;
        margin-right: 10px;
        display: block;
        clear: right;
        text-align: center;
    }

    .toplogo {
        height: 90px;
        /* float: right; */
        position: absolute;
        top: 0;
        right: 12px
    }

    .get_free_courses {
        height: 162px;
    }

    .copy_right_text {
        width: 78%;
        height: 40px;
        background-color: #1A1A1A;
        margin-right: 11%;
    }

    .copy_right_text span {
        color: #ccc;
        font-size: 10px;
        line-height: 40px;
        clear: both;
        padding: 0;
    }

    .copy_right_text span a {
        color: #FCC624;
    }

    #video_background {
        position: absolute;
        top: 100px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    #video_background {
        display: none;
    }

    .copy_right_text {
        width: 90% !important;
        height: 40px !important;
        background-color: #1A1A1A !important;
        display: table;
        float: right !important;
        margin-right: 5%;
        margin-top: 5px;
    }

    .copy_right_text span {
        color: #ccc !important;
        font-size: 10px !important;
        line-height: 40px !important;
        clear: both;
        padding: 0 !important;
    }

    .copy_right_text span a {
        color: #FCC624 !important;
    }

    .form_your_emial {
        margin-top: 10px;
        width: 90%;
        /* display: block; */
        height: 50px;
    }

    .your_email {
        width: 100% !important;
        height: 41px !important;
        border-style: none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .your_email:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
    }

    .your_email {
        padding-right: 10px;
    }

    .i3zef_button {
        width: 100%;
        height: 40px;
        background-color: #FCC624;
        border-style: none;
        font-size: 20px;
        margin-top: 5px;
    }

    .enter_your_email {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 10px;
    }

    .enter_your_email span {
        font-size: 20px;
        color: #fff;
        opacity: 1;
        display: block;
        padding-top: 10px;

    }

    .enter_your_email span strong {
        font-size: 20px;
        color: #FCC624;

    }

    .button_test_here {
        width: 100%;
    }

    .navbar.smaller {
        height: 50px;
    }

    .navbar.smaller .menu {
        display: none;
        float: left;
    }

    .navbar.smaller .groupbutton {
        display: block;
    }

    .social_icon ul {
        width: 200px;
    }

    .social_icon li {
        width: 34px;
        font-size: 35px;
    }

    .social_icon {
        float: right;
        display: block;
        width: 130px;
        height: 39px;
        clear: right;
        padding: 0;
    }

    .footer {
        height: 150px;
    }

    .learning_music_block {
        width: 40%;
        height: 350px;
        margin-top: 175px;
    }

    .copy_right span {
        font-size: 9px;
    }

    .title_learning_music span {
        font-size: 40px;
    }

    .get_free_courses span {
        font-size: 23px;
        padding-top: 26px;
    }

    .group_button_get_free li:nth-child(1) {
        width: 100%;
    }

    .group_button_get_free li {
        width: 100%;
        margin-top: 10px;
    }

    .group_button_get_free li a {
        color: #000 !important;
    }

    .banner_i3zef {
        margin-top: 65px;
    }

    .banner_i3zef span {
        font-size: 25px;
    }

    .learning_music_block {
        width: 100%
    }

    .video_with_text {
        margin-top: 40px;
        width: 95%;
    }

    .video_array {
        height: 210px;
    }

    .copy_right {
        width: 100%;
        height: 20px;
        float: right;
        margin-right: 10px;
        display: block;
        clear: right;
        text-align: center;
    }

    .groupbutton {
        display: none;

    }

    .menu {
        width: 250px;
        height: 30px;
        /* position: absolute; */
        bottom: 0;
        margin-right: 97px;
    }

    .top_menu {
        width: 120px;
        height: 20px;
        float: right;
        font-size: 10px;
        margin-top: 10px;
        margin-right: 112px;
    }

    .toplogo {
        height: 90px;
        /* float: right; */
        position: absolute;
        top: 0;
        right: 12px
    }

    .get_free_courses {
        height: 258px;
    }
}

.col-md-4 a, .col-md-4 a:hover, .menu a, .menu a:hover {
    color: inherit;
    text-decoration: none;
}

#Container .mix {
    display: none;
}

.btn-custom {
    font-size: 11px;
    border: 0px;
    padding: 4px;
}

.btn-custom-en {
    font-size: 9px;
    padding-top: 5px;
}

.dropdown-custom {
    min-width: 100px;
    font-size: 12px;
}

.dropdown-custom li {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.caret-custom {
    margin-right: 5px;
}
