@import "reset.css";

@font-face {
    font-family: 'i3zef';
    src: url('ara_fonts/i3zef-Reg.eot');
}

@font-face {
    font-family: 'i3zef';
    src: url('ara_fonts/i3zef-Reg.ttf');
}

@font-face {
    font-family: 'i3zef Bold';
    src: url('ara_fonts/i3zef-Bold.eot');
}

@font-face {
    font-family: 'i3zef Bold';
    src: url('ara_fonts/i3zef-Bold.ttf');
}

body {
    font-family: 'i3zef';
    background: #E5E5E5;
}

.sweet-alert{
    font-family: 'i3zef'!important;
}

div {
    direction: rtl;
}

.video-section .pattern-overlay {
    padding: 70px 0 32px;
    min-height: 550px;
    background-color: rgba(71, 71, 71, 0.59);
    /* Incase of overlay problems just increase the min-height*/
}

.video-section h1, .video-section h3 {
    text-align: center;
    color: #fff;
}

#video_background {
    position: absolute;
    top: 100px;
    right: 0px;
    min-width: 100%;

    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.container {
    background-color: #fff !important;
    height: 100px;
}

.groupbutton {
    width: 200px;
    height: 68px;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 16px;
}

.groupbutton a {
    color: #000;
}

.lang-change {
    font-size: 10px;
    border: 0px;
}

.signupbutton {
    width: 94px;
    height: 68px;
    background-color: #FCC624;
    float: left;
    cursor: pointer;
    text-align: center;
}



.signupbutton span {
    font-size: 15px;
    display: block;
    font-weight: bold;
    line-height: 37px;
}

.signupbutton strong {
    font-size: 20px;
    display: block;
    font-weight: bold;
    line-height: 31px;
    font-weight: bold;
}

.freebutton {
    width: 94px;
    height: 68px;
    background-color: #fff;
    border: 2px solid #FCC624;
    float: right;
    text-align: right;
    cursor: pointer;
}

.freebutton span {
    color: #000;
    font-size: 25px;
    padding-right: 19px;
    display: block;
    font-weight: bold;
    line-height: 31px;
}

.toplogo {
    height: 88px;
    margin-top: 6px;
    width: 51px;
    margin-right: auto;
    margin-left: auto;
}

.currency {
    height: 26px;
}

.top_menu {
    width: auto;
    height: 20px;
    float: right;
    font-size: 10px;
    margin-top: 6px;

}

.top_menu li {
    display: block;
    float: right;
    padding-left: 10px;
    cursor: pointer;
}

.top_menu li img {
    float: right;
    padding-left: 5px;
    display: block;
}

.register_and_profile {
    height: 18px;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.register_and_profile li {
    display: block;
    float: right;
    padding-right: 7px;
    cursor: pointer;
}

.register_and_profile li a {
    color: #000;
}

.register_and_profile li:nth-child(1),.register_and_profile li:nth-child(2) {
    display: block;
    float: right;
    padding-left: 7px;
    cursor: pointer;
    border-left: 1px solid #800000;
}

.menu {
    width: auto;
    height: 30px;
    position: absolute;
    bottom: 0;

}

.menu li {
    float: right;
    display: block;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;

}

.menu li:nth-child(1), .menu li:nth-child(2),.menu li:nth-child(3),.menu li:nth-child(4) {
    display: block;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-left: 1px solid #800000;
    line-height: normal;

}

.menu li img {
    float: right;
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    margin-top: 5px;
}

.learning_music_block {
    width: 40%;
    height: 350px;
    margin-top: 250px;
    margin-bottom: 75px;
}

.title_learning_music {
    width: 100%;
    height: 130px;
    text-align: center;

}

.title_learning_music span {
    font-size: 55px;
    color: #FCC624;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title_free_account {
    width: 100%;
    height: 80px;
    text-align: center;

}

.title_free_account span {
    font-size: 55px;
    color: #FCC624;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title_learning_music span:nth-child(2) {
    color: #fff;
    font-size: 25px;
    text-shadow: none;
    clear: both;
    display: block;
}

.get_free_courses {
    padding-top: 20px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.get_free_courses span {
    font-size: 30px;
    color: #fff;
    opacity: 1;
    display: block;
    padding-top: 30px;

}

.enter_your_email {
    width: 100%;
    height: 265px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;

}

.enter_your_email span {
    font-size: 23px;
    color: #fff;
    opacity: 1;
    display: block;
    padding-top: 30px;

}

.enter_your_email span strong {
    font-size: 23px;
    color: #FCC624;

}

.group_button_get_free {
    width: 90%;
    height: 55px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.group_button_get_free li {
    width: 48%;
    height: 55px;
    display: block;
    float: left;
    background-color: #fff;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}

.group_button_get_free li:nth-child(1) {
    width: 48%;
    height: 55px;
    display: block;
    float: right;
    background-color: #FCC624;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}

.banner_i3zef {
    width: 100%;
    height: auto;
    background-color: #FCC624;
    margin-top: 225px;
    text-align: center;
}

.banner_i3zef span {
    font-size: 35px;
    color: #000;
    line-height: normal;
}

.video_with_text {
    margin-top: 100px;
    width: 53%;
}

.video_array {
    width: 100%;
    height: 340px;

}

.text_array {
    color: #fff;
    margin-top: 10px;
}

.text_array span {
    color: #fff;
    padding-top: 10px;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

.button_test_here {
    width: 20%;
    height: 55px;
    background-color: #FCC624;
    float: left;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button_test_here span {
    color: #000;
    font-size: 25px;
    line-height: 55px;
}

.blocks_array {
    width: 100%;
    height: 500px;
    background: transparent !important;
}

.block-one {
    width: 100%;
    background-color: #222;
    height: auto;
    display: table;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 2%;
    margin-bottom: 25px;
}

.block-one span {
    color: #fff;
    display: block;
    float: left;
    width: 60%;
    height: 100px;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 11px;
}

.container {
    background-color: transparent !important;
    display: table !important;
}

.block-one img {
    float: right;

    margin-top: 10px;
    width: 27%;
    margin: 10px;

}

.footer {
    width: 100%;
    height: 170px;
    background-color: #fff !important;
    float: right;
    margin-top: 40px;
}

.price_block .footer{
    margin-top:0px;
}
.inner-footer {
    height: 120px;
}

.footer_logo {
    width: 82px;
    height: 84px;
    float: left;
    margin-top: 20px;
}

.inner-footer ul {
    display: block;
    float: right;
    width: 260px;
    margin-top: 20px;
}

.inner-footer li {
    display: block;
    float: right;
    width: 130px;
}

.inner-footer li a {
    display: block;
    float: right;
    width: auto;
    text-decoration: none;
    color: #000;
    height: 20px;
    font-size: 12px;

}

.inner-footer li img {
    margin-left: 5px;
    display: block;
    float: right;
}

.fa-circle {
    color: #800000;
    font-size: 6px !important;
    padding-left: 5px;
    line-height: normal;
}

.social_icon {
    float: right;
    display: block;
    width: 100px;
    height: 25px;
    clear: right;
    padding: 0;
}

.social_icon ul {
    width: 100px;
    height: 25px;
    display: block;
    margin-top: 0;

}

.social_icon li {
    width: 20px;
    font-size: 20px;
    float: left;
    display: block;
    margin-left: 5px;
    width:20px;
}

.fa-facebook-square {
    color: #4D6AA2;
    font-size:20px;
}

.fa-twitter-square {
    color: #8FDAF4;
    font-size:20px;

}

.fa-youtube-square {
    color: #B2080B;
    font-size:20px;

}

.fa-instagram {
    color: #5B85AD;
    font-size:20px;

}

.fa-google-plus-square {
    color: #B2080B;
}

.copy_right {
    width: 400px;
    height: 20px;
    float: right;
    margin-right: 10px;
    margin-top:2px;
}

.copy_right span {
    font-size: 10px;
}

.navbar {
    direction: rtl;
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar.smaller {
    height: 50px;
}


.navbar.smaller li.instrument{
    margin-right:150px!important;
}

.navbar.smaller .navbar-right {
    display: none;
}

.navbar.smaller .toplogo img {
    height: 35px;
    float: right;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar.smaller .toplogo {
    float: right;
}

.navbar.smaller .menu {
    margin-right: 40px;
    height: 34px;
    margin-top: 0px;
}

.navbar.smaller .navbar-inverse {
    border-color: #FCC624;
}

.navbar.smaller .groupbutton {
    width: 311px;
    height: 50px;
    float: left;
    margin: 0;
    padding: 0;
    /* margin-top: 16px; */
}

.navbar.smaller .signupbutton {
    width: 150px;
    height: 50px;
    background-color: #FCC624;
    float: left;
    cursor: pointer;
    text-align: center;
    padding-top:0px!important;
}

.navbar.smaller .signupbutton span {
    font-size: 14px;
    display: block;
    font-weight: bold;
    line-height: 19px;
    width: 50px;
    margin-right: 30%;
    margin-top: 6px;
    float: right;
    color: #000;
}

.navbar.smaller .with_price span{
    margin-right:5%!important;
}

.navbar.smaller .signupbutton strong {
    font-size: 20px;
    display: block;
    font-weight: bold;
    line-height: 31px;
    float: left;
    margin-left: 10px;
    margin-top: 13px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 73px;
    height: 44px;
    clear: left;
}

.navbar.smaller .container {
    /*height: 50px;*/

}

.navbar.smaller .freebutton {
    width: 150px;
    height: 49px;
    background-color: #fff;
    border: 2px solid #FCC624;
    float: right;
    text-align: right;
    cursor: pointer;
}

.navbar.smaller .freebutton span {
    font-size: 20px;
    padding-right: 26px;
    display: block;
    font-weight: bold;
    line-height: 47px;
}

.form_your_emial {
    margin-top: 10px;
    width: 78%;
    /* display: block; */
    height: 50px;
}

.your_email {
    width: 68% !important;
    height: 41px !important;
    float: left;
    /* margin-left: 10%; */
    border-style: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-right: 10px;

}

.your_email:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
}

.i3zef_button {
    width: 30%;
    height: 41px;
    background-color: #FCC624;
    border-style: none;
    font-size: 20px;
    /* margin-top: 5px; */
    float: right;
}

.copy_right_text {
    width: 78%;
    height: 40px;
    background-color: #1A1A1A;
    margin-right: 11%;
}

.copy_right_text span {
    color: #ccc;
    font-size: 10px;
    line-height: 40px;
    clear: both;
    padding: 0;
}

.copy_right_text span a {
    color: #FCC624;
}

.slider_i3zef {
    width: 100%;
    height: 450px;
    background-color: red;
}
    .icon-izif-9{
        margin-left:2em;

    }
@media screen and (max-width: 1200px) {
    .icon-izif-9{
        margin-left:0;
    }
    #video_background {
        position: absolute;
        top: 100px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
    }

    .navbar.smaller {
        height: 50px;
    }

    .navbar.smaller .groupbutton {
        display: block;
    }

    .social_icon ul {
        width: 200px;
    }

    .social_icon li {
        width: 34px;
        font-size: 35px;
    }

    .social_icon {
        float: right;
        display: block;
        width: 130px;
        height: 39px;
        clear: right;
        padding: 0;
    }

    .footer {
        height: 150px;
    }

    .learning_music_block {
        width: 40%;
        height: 350px;
        margin-top: 175px;
        margin-bottom: 130px;
    }

    .copy_right span {
        font-size: 9px;
    }

    .title_learning_music span {
        font-size: 40px;
    }

    .title_free_account span {
        font-size: 40px;
    }

    .get_free_courses span {
        padding-top: 0;
    }

    a {
        color: #000 !important;
    }

    .banner_i3zef {
        margin-top: 115px;
    }

    .banner_i3zef span {
        font-size: 25px;
    }

    .learning_music_block {
        width: 100%
    }

    .video_with_text {
        margin-top: 100px;
        width: 95%;
    }

    .copy_right {
        width: 100%;
        height: 20px;
        float: right;
        margin-right: 10px;
        display: block;
        clear: right;
        text-align: center;
    }

    .toplogo {
        height: 90px;
        /* float: right; */
        position: absolute;
        top: 0;
        right: 12px
    }

    .get_free_courses {
        height: 162px;
    }

    .copy_right_text {
        width: 78%;
        height: 40px;
        background-color: #1A1A1A;
        margin-right: 11%;
    }

    .copy_right_text span {
        color: #ccc;
        font-size: 10px;
        line-height: 40px;
        clear: both;
        padding: 0;
    }

    .copy_right_text span a {
        color: #FCC624;
    }

    #video_background {
        position: absolute;
        top: 100px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    #video_background {
        display: none;
    }
    .icon-izif-9{
        margin-left:0;
    }
    .copy_right_text {
        width: 90% !important;
        height: 40px !important;
        background-color: #1A1A1A !important;
        display: table;
        float: right !important;
        margin-right: 5%;
        margin-top: 5px;
    }

    .copy_right_text span {
        color: #ccc !important;
        font-size: 10px !important;
        line-height: 40px !important;
        clear: both;
        padding: 0 !important;
    }

    .copy_right_text span a {
        color: #FCC624 !important;
    }

    .form_your_emial {
        margin-top: 10px;
        width: 90%;
        /* display: block; */
        height: 50px;
    }

    .your_email {
        width: 100% !important;
        height: 41px !important;
        border-style: none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .your_email:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(252, 198, 36, .9);
    }

    .your_email {
        padding-right: 10px;
    }

    .i3zef_button {
        width: 100%;
        height: 40px;
        background-color: #FCC624;
        border-style: none;
        font-size: 20px;
        margin-top: 5px;
    }

    .enter_your_email {
        width: 100%;
        height: 265px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 10px;
    }

    .enter_your_email span {
        font-size: 20px;
        color: #fff;
        opacity: 1;
        display: block;
        padding-top: 10px;

    }

    .enter_your_email span strong {
        font-size: 20px;
        color: #FCC624;

    }

    .button_test_here {
        width: 100%;
    }

    .navbar.smaller {
        height: 50px;
    }

    .navbar.smaller .menu {
        display: none;
        float: left;
    }

    .navbar.smaller .groupbutton {
        display: block;
    }

    .social_icon ul {
        width: 160px;
    }

    .social_icon li {
        width: 34px;
        font-size: 35px;
    }

    .social_icon {
        float: right;
        display: block;
        width: 130px;
        height: 39px;
        clear: right;
        padding: 0;
    }

    .footer {
        height: 150px;
    }

    .learning_music_block {
        width: 40%;
        height: 350px;
        margin-top: 175px;
    }

    .copy_right span {
        font-size: 9px;
    }

    .title_learning_music span {
        font-size: 40px;
    }

    .get_free_courses span {
        font-size: 23px;
        padding-top: 26px;
    }

    .group_button_get_free li:nth-child(1) {
        width: 100%;
    }

    .group_button_get_free li {
        width: 100%;
        margin-top: 10px;
    }

    .group_button_get_free li a {
        color: #000 !important;

    }

    .banner_i3zef {
        margin-top: 65px;
    }

    .banner_i3zef span {
        font-size: 25px;
    }

    .learning_music_block {
        width: 100%
    }

    .video_with_text {
        margin-top: 40px;
        width: 95%;
    }

    .video_array {
        height: 210px;
    }

    .copy_right {
        width: 100%;
        height: 20px;
        float: right;
        margin-right: 10px;
        display: block;
        clear: right;
        text-align: center;
    }

    .groupbutton {
        display: none;

    }

    .menu {
        width: 250px;
        height: 30px;
        /* position: absolute; */
        bottom: 0;
        margin-right: 97px;
    }

    .top_menu {
        width: auto;
        height: 20px;
        float: right;
        font-size: 10px;

        margin-right: 112px;
        margin-top: 6px;
    }

    .toplogo {
        height: 90px;
        /* float: right; */
        position: absolute;
        top: 0;
        right: 12px
    }

    .get_free_courses {
        height: 258px;
    }
}

.col-md-4 a, .col-md-4 a:hover, .menu a, .menu a:hover {
    color: inherit;
    text-decoration: none;
}

#Container .mix {
    display: none;
}

.btn-custom {
    font-size: 11px;
    border: 0px;
    padding: 4px;
}

.btn-custom-en {
    font-size: 9px;
    padding-top: 5px;
}

.dropdown-custom {
    min-width: 100px;
    font-size: 12px;
}

.dropdown-custom li {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.caret-custom {
    margin-right: 5px;
}


.loginWithFacebookIntro{
    background-color: #4e69a2!important;
    border-color: #435a8b #3c5488 #334c83!important;
    color: #fff!important;
    border-width: 1px!important;
    border-radius: 3px!important;
    width: 78%!important;
    margin: 0px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    margin-bottom: 7px!important;
    position: relative!important;
    z-index: 99!important;

}

.ask_teacher_form textarea{
    margin: 0px;
    height: 10em;
    width: 97%;
    background: rgba(138, 138, 138, 0.17);
    border: 2px solid rgba(204, 204, 204, 0.09);
}


.activeMenu{
    color: maroon;
    text-decoration: underline;
}


/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */@-ms-viewport{width:device-width}@-o-viewport{width:device-width}@viewport{width:device-width}.hll{background-color:#ffc}.c{color:#999}.err{color:#A00;background-color:#FAA}.k{color:#069}.o{color:#555}.cm{color:#999}.cp{color:#099}.c1{color:#999}.cs{color:#999}.gd{background-color:#FCC;border:1px solid #C00}.ge{font-style:italic}.gr{color:red}.gh{color:#030}.gi{background-color:#CFC;border:1px solid #0C0}.go{color:#AAA}.gp{color:#009}.gu{color:#030}.gt{color:#9C6}.kc{color:#069}.kd{color:#069}.kn{color:#069}.kp{color:#069}.kr{color:#069}.kt{color:#078}.m{color:#F60}.s{color:#d44950}.na{color:#4f9fcf}.nb{color:#366}.nc{color:#0A8}.no{color:#360}.nd{color:#99F}.ni{color:#999}.ne{color:#C00}.nf{color:#C0F}.nl{color:#99F}.nn{color:#0CF}.nt{color:#2f6f9f}.nv{color:#033}.ow{color:#000}.w{color:#bbb}.mf{color:#F60}.mh{color:#F60}.mi{color:#F60}.mo{color:#F60}.sb{color:#C30}.sc{color:#C30}.sd{color:#C30;font-style:italic}.s2{color:#C30}.se{color:#C30}.sh{color:#C30}.si{color:#A00}.sx{color:#C30}.sr{color:#3AA}.s1{color:#C30}.ss{color:#FC3}.bp{color:#366}.vc{color:#033}.vg{color:#033}.vi{color:#033}.il{color:#F60}.css .nt+.nt,.css .o,.css .o+.nt{color:#999}/*!
 * Bootstrap Docs (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see https://creativecommons.org/licenses/by/3.0/.
 */body{position:relative}.table code{font-size:13px;font-weight:400}h2 code,h3 code,h4 code{background-color:inherit}.btn-outline{color:#563d7c;background-color:transparent;border-color:#563d7c}.btn-outline:active,.btn-outline:focus,.btn-outline:hover{color:#fff;background-color:#563d7c;border-color:#563d7c}.btn-outline-inverse{color:#fff;background-color:transparent;border-color:#cdbfe3}.btn-outline-inverse:active,.btn-outline-inverse:focus,.btn-outline-inverse:hover{color:#563d7c;text-shadow:none;background-color:#fff;border-color:#fff}.bs-docs-booticon{display:block;font-weight:500;color:#fff;text-align:center;cursor:default;background-color:#563d7c;border-radius:15%}.bs-docs-booticon-sm{width:30px;height:30px;font-size:20px;line-height:28px}.bs-docs-booticon-lg{width:144px;height:144px;font-size:108px;line-height:140px}.bs-docs-booticon-inverse{color:#563d7c;background-color:#fff}.bs-docs-booticon-outline{background-color:transparent;border:1px solid #cdbfe3}#skippy{display:block;padding:1em;color:#fff;background-color:#6f5499;outline:0}#skippy .skiplink-text{padding:.5em;outline:1px dotted}#content:focus{outline:0}.bs-docs-nav{margin-bottom:0;background-color:#fff;border-bottom:0}.bs-home-nav .bs-nav-b{display:none}.bs-docs-nav .navbar-brand,.bs-docs-nav .navbar-nav>li>a{font-weight:500;color:#563d7c}.bs-docs-nav .navbar-nav>.active>a,.bs-docs-nav .navbar-nav>.active>a:hover,.bs-docs-nav .navbar-nav>li>a:hover{color:#463265;background-color:#f9f9f9}.bs-docs-nav .navbar-toggle .icon-bar{background-color:#563d7c}.bs-docs-nav .navbar-header .navbar-toggle{border-color:#fff}.bs-docs-nav .navbar-header .navbar-toggle:focus,.bs-docs-nav .navbar-header .navbar-toggle:hover{background-color:#f9f9f9;border-color:#f9f9f9}.bs-docs-footer{padding-top:50px;padding-bottom:50px;margin-top:100px;color:#99979c;text-align:center;background-color:#2a2730}.bs-docs-footer a{color:#fff}.bs-docs-footer-links{padding-left:0;margin-bottom:20px}.bs-docs-footer-links li{display:inline-block}.bs-docs-footer-links li+li{margin-left:15px}@media (min-width:768px){.bs-docs-footer{text-align:left}.bs-docs-footer p{margin-bottom:0}}.bs-docs-header,.bs-docs-masthead{position:relative;padding:30px 0;color:#cdbfe3;text-align:center;text-shadow:0 1px 0 rgba(0,0,0,.1);background-color:#6f5499;background-image:-webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);background-image:-o-linear-gradient(top,#563d7c 0,#6f5499 100%);background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);background-repeat:repeat-x}.bs-docs-masthead .bs-docs-booticon{margin:0 auto 30px}.bs-docs-masthead h1{font-weight:300;line-height:1;color:#fff}.bs-docs-masthead .lead{margin:0 auto 30px;font-size:20px;color:#fff}.bs-docs-masthead .version{margin-top:-15px;margin-bottom:30px;color:#9783b9}.bs-docs-masthead .btn{width:100%;padding:15px 30px;font-size:20px}@media (min-width:480px){.bs-docs-masthead .btn{width:auto}}@media (min-width:768px){.bs-docs-masthead{padding:80px 0}.bs-docs-masthead h1{font-size:60px}.bs-docs-masthead .lead{font-size:24px}}@media (min-width:992px){.bs-docs-masthead .lead{width:80%;font-size:30px}}.bs-docs-header{margin-bottom:40px;font-size:20px}.bs-docs-header h1{margin-top:0;color:#fff}.bs-docs-header p{margin-bottom:0;font-weight:300;line-height:1.4}.bs-docs-header .container{position:relative}@media (min-width:768px){.bs-docs-header{padding-top:60px;padding-bottom:60px;font-size:24px;text-align:left}.bs-docs-header h1{font-size:60px;line-height:1}}@media (min-width:992px){.bs-docs-header h1,.bs-docs-header p{margin-right:380px}}#carbonads{display:block;overflow:hidden;margin:50px -15px 0;padding:15px 15px 15px 160px;font-size:13px;line-height:1.5;text-align:left;border:solid #866ab3;border-width:1px 0 0}#carbonads a{color:#fff;text-decoration:none}.carbon-img{float:left;margin-left:-145px}.carbon-poweredby{display:block;color:#cdbfe3!important}@media (min-width:480px){#carbonads{max-width:330px;margin:50px auto 0;border-width:1px;border-radius:4px}}@media (min-width:992px){#carbonads{position:absolute;top:0;right:15px;margin-top:0}.bs-docs-masthead #carbonads{position:static}}.bs-docs-featurette{padding-top:40px;padding-bottom:40px;font-size:16px;line-height:1.5;color:#555;text-align:center;background-color:#fff;border-bottom:1px solid #e5e5e5}.bs-docs-featurette+.bs-docs-footer{margin-top:0;border-top:0}.bs-docs-featurette-title{margin-bottom:5px;font-size:30px;font-weight:400;color:#333}.half-rule{width:100px;margin:40px auto}.bs-docs-featurette h3{margin-bottom:5px;font-weight:400;color:#333}.bs-docs-featurette-img{display:block;margin-bottom:20px;color:#333}.bs-docs-featurette-img:hover{color:#337ab7;text-decoration:none}.bs-docs-featurette-img img{display:block;margin-bottom:15px}@media (min-width:480px){.bs-docs-featurette .img-responsive{margin-top:30px}}@media (min-width:768px){.bs-docs-featurette{padding-top:100px;padding-bottom:100px}.bs-docs-featurette-title{font-size:40px}.bs-docs-featurette .lead{max-width:80%;margin-right:auto;margin-left:auto}.bs-docs-featurette .img-responsive{margin-top:0}}.bs-docs-featured-sites{margin-right:-1px;margin-left:-1px}.bs-docs-featured-sites .col-xs-6{padding:1px}.bs-docs-featured-sites .img-responsive{margin-top:0}@media (min-width:768px){.bs-docs-featured-sites .col-sm-3:first-child img{border-top-left-radius:4px;border-bottom-left-radius:4px}.bs-docs-featured-sites .col-sm-3:last-child img{border-top-right-radius:4px;border-bottom-right-radius:4px}}.bs-examples .thumbnail{margin-bottom:10px}.bs-examples h4{margin-bottom:5px}.bs-examples p{margin-bottom:20px}@media (max-width:480px){.bs-examples{margin-right:-10px;margin-left:-10px}.bs-examples>[class^=col-]{padding-right:10px;padding-left:10px}}.bs-docs-sidebar.affix{position:static}@media (min-width:768px){.bs-docs-sidebar{padding-left:20px}}.bs-docs-sidenav{margin-top:20px;margin-bottom:20px}.bs-docs-sidebar .nav>li>a{display:block;padding:4px 20px;font-size:13px;font-weight:500;color:#767676}.bs-docs-sidebar .nav>li>a:focus,.bs-docs-sidebar .nav>li>a:hover{padding-left:19px;color:#563d7c;text-decoration:none;background-color:transparent;border-left:1px solid #563d7c}.bs-docs-sidebar .nav>.active:focus>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active>a{padding-left:18px;font-weight:700;color:#563d7c;background-color:transparent;border-left:2px solid #563d7c}.bs-docs-sidebar .nav .nav{display:none;padding-bottom:10px}.bs-docs-sidebar .nav .nav>li>a{padding-top:1px;padding-bottom:1px;padding-left:30px;font-size:12px;font-weight:400}.bs-docs-sidebar .nav .nav>li>a:focus,.bs-docs-sidebar .nav .nav>li>a:hover{padding-left:29px}.bs-docs-sidebar .nav .nav>.active:focus>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active>a{padding-left:28px;font-weight:500}.back-to-top,.bs-docs-theme-toggle{display:none;padding:4px 10px;margin-top:10px;margin-left:10px;font-size:12px;font-weight:500;color:#999}.back-to-top:hover,.bs-docs-theme-toggle:hover{color:#563d7c;text-decoration:none}.bs-docs-theme-toggle{margin-top:0}@media (min-width:768px){.back-to-top,.bs-docs-theme-toggle{display:block}}@media (min-width:992px){.bs-docs-sidebar .nav>.active>ul{display:block}.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{width:213px}.bs-docs-sidebar.affix{position:fixed;top:20px}.bs-docs-sidebar.affix-bottom{position:absolute}.bs-docs-sidebar.affix .bs-docs-sidenav,.bs-docs-sidebar.affix-bottom .bs-docs-sidenav{margin-top:0;margin-bottom:0}}@media (min-width:1200px){.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{width:263px}}.bs-docs-section{margin-bottom:60px}.bs-docs-section:last-child{margin-bottom:0}h1[id]{padding-top:20px;margin-top:0}.bs-callout{padding:20px;margin:20px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}.bs-callout h4{margin-top:0;margin-bottom:5px}.bs-callout p:last-child{margin-bottom:0}.bs-callout code{border-radius:3px}.bs-callout+.bs-callout{margin-top:-5px}.bs-callout-danger{border-left-color:#ce4844}.bs-callout-danger h4{color:#ce4844}.bs-callout-warning{border-left-color:#aa6708}.bs-callout-warning h4{color:#aa6708}.bs-callout-info{border-left-color:#1b809e}.bs-callout-info h4{color:#1b809e}.color-swatches{margin:0 -5px;overflow:hidden}.color-swatch{float:left;width:60px;height:60px;margin:0 5px;border-radius:3px}@media (min-width:768px){.color-swatch{width:100px;height:100px}}.color-swatches .gray-darker{background-color:#222}.color-swatches .gray-dark{background-color:#333}.color-swatches .gray{background-color:#555}.color-swatches .gray-light{background-color:#999}.color-swatches .gray-lighter{background-color:#eee}.color-swatches .brand-primary{background-color:#337ab7}.color-swatches .brand-success{background-color:#5cb85c}.color-swatches .brand-warning{background-color:#f0ad4e}.color-swatches .brand-danger{background-color:#d9534f}.color-swatches .brand-info{background-color:#5bc0de}.color-swatches .bs-purple{background-color:#563d7c}.color-swatches .bs-purple-light{background-color:#c7bfd3}.color-swatches .bs-purple-lighter{background-color:#e5e1ea}.color-swatches .bs-gray{background-color:#f9f9f9}.bs-team .team-member{line-height:32px;color:#555}.bs-team .team-member:hover{color:#333;text-decoration:none}.bs-team .github-btn{float:right;width:180px;height:20px;margin-top:6px}.bs-team img{float:left;width:32px;margin-right:10px;border-radius:4px}.bs-docs-browser-bugs td p{margin-bottom:0}.bs-docs-browser-bugs th:first-child{width:18%}.show-grid{margin-bottom:15px}.show-grid [class^=col-]{padding-top:10px;padding-bottom:10px;background-color:#eee;background-color:rgba(86,61,124,.15);border:1px solid #ddd;border:1px solid rgba(86,61,124,.2)}.bs-example{position:relative;padding:45px 15px 15px;margin:0 -15px 15px;border-color:#e5e5e5 #eee #eee;border-style:solid;border-width:1px 0;-webkit-box-shadow:inset 0 3px 6px rgba(0,0,0,.05);box-shadow:inset 0 3px 6px rgba(0,0,0,.05)}.bs-example:after{position:absolute;top:15px;left:15px;font-size:12px;font-weight:700;color:#959595;text-transform:uppercase;letter-spacing:1px;content:"Example"}.bs-example-padded-bottom{padding-bottom:24px}.bs-example+.highlight,.bs-example+.zero-clipboard+.highlight{margin:-15px -15px 15px;border-width:0 0 1px;border-radius:0}@media (min-width:768px){.bs-example{margin-right:0;margin-left:0;background-color:#fff;border-color:#ddd;border-width:1px;border-radius:4px 4px 0 0;-webkit-box-shadow:none;box-shadow:none}.bs-example+.highlight,.bs-example+.zero-clipboard+.highlight{margin-top:-16px;margin-right:0;margin-left:0;border-width:1px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}.bs-example-standalone{border-radius:4px}}.bs-example .container{width:auto}.bs-example>.alert:last-child,.bs-example>.form-control:last-child,.bs-example>.jumbotron:last-child,.bs-example>.list-group:last-child,.bs-example>.navbar:last-child,.bs-example>.panel:last-child,.bs-example>.progress:last-child,.bs-example>.table-responsive:last-child>.table,.bs-example>.table:last-child,.bs-example>.well:last-child,.bs-example>blockquote:last-child,.bs-example>ol:last-child,.bs-example>p:last-child,.bs-example>ul:last-child{margin-bottom:0}.bs-example>p>.close{float:none}.bs-example-type .table .type-info{color:#767676;vertical-align:middle}.bs-example-type .table td{padding:15px 0;border-color:#eee}.bs-example-type .table tr:first-child td{border-top:0}.bs-example-type h1,.bs-example-type h2,.bs-example-type h3,.bs-example-type h4,.bs-example-type h5,.bs-example-type h6{margin:0}.bs-example-bg-classes p{padding:15px}.bs-example>.img-circle,.bs-example>.img-rounded,.bs-example>.img-thumbnail{margin:5px}.bs-example>.table-responsive>.table{background-color:#fff}.bs-example>.btn,.bs-example>.btn-group{margin-top:5px;margin-bottom:5px}.bs-example>.btn-toolbar+.btn-toolbar{margin-top:10px}.bs-example-control-sizing input[type=text]+input[type=text],.bs-example-control-sizing select{margin-top:10px}.bs-example-form .input-group{margin-bottom:10px}.bs-example>textarea.form-control{resize:vertical}.bs-example>.list-group{max-width:400px}.bs-example .navbar:last-child{margin-bottom:0}.bs-navbar-bottom-example,.bs-navbar-top-example{z-index:1;padding:0;overflow:hidden}.bs-navbar-bottom-example .navbar-header,.bs-navbar-top-example .navbar-header{margin-left:0}.bs-navbar-bottom-example .navbar-fixed-bottom,.bs-navbar-top-example .navbar-fixed-top{position:relative;margin-right:0;margin-left:0}.bs-navbar-top-example{padding-bottom:45px}.bs-navbar-top-example:after{top:auto;bottom:15px}.bs-navbar-top-example .navbar-fixed-top{top:-1px}.bs-navbar-bottom-example{padding-top:45px}.bs-navbar-bottom-example .navbar-fixed-bottom{bottom:-1px}.bs-navbar-bottom-example .navbar{margin-bottom:0}@media (min-width:768px){.bs-navbar-bottom-example .navbar-fixed-bottom,.bs-navbar-top-example .navbar-fixed-top{position:absolute}}.bs-example .pagination{margin-top:10px;margin-bottom:10px}.bs-example>.pager{margin-top:0}.bs-example-modal{background-color:#f5f5f5}.bs-example-modal .modal{position:relative;top:auto;right:auto;bottom:auto;left:auto;z-index:1;display:block}.bs-example-modal .modal-dialog{left:auto;margin-right:auto;margin-left:auto}.bs-example>.dropdown>.dropdown-toggle{float:left}.bs-example>.dropdown>.dropdown-menu{position:static;display:block;margin-bottom:5px;clear:left}.bs-example-tabs .nav-tabs{margin-bottom:15px}.bs-example-tooltips{text-align:center}.bs-example-tooltips>.btn{margin-top:5px;margin-bottom:5px}.bs-example-tooltip .tooltip{position:relative;display:inline-block;margin:10px 20px;opacity:1}.bs-example-popover{padding-bottom:24px;background-color:#f9f9f9}.bs-example-popover .popover{position:relative;display:block;float:left;width:260px;margin:20px}.scrollspy-example{position:relative;height:200px;margin-top:10px;overflow:auto}.bs-example>.nav-pills-stacked-example{max-width:300px}#collapseExample .well{margin-bottom:0}.bs-events-table>tbody>tr>td:first-child,.bs-events-table>thead>tr>th:first-child{white-space:nowrap}.bs-events-table>thead>tr>th:first-child{width:150px}.js-options-table>thead>tr>th:nth-child(1),.js-options-table>thead>tr>th:nth-child(2){width:100px}.js-options-table>thead>tr>th:nth-child(3){width:50px}.highlight{padding:9px 14px;margin-bottom:14px;background-color:#f7f7f9;border:1px solid #e1e1e8;border-radius:4px}.highlight pre{padding:0;margin-top:0;margin-bottom:0;word-break:normal;white-space:nowrap;background-color:transparent;border:0}.highlight pre code{font-size:inherit;color:#333}.highlight pre code:first-child{display:inline-block;padding-right:45px}.table-responsive .highlight pre{white-space:normal}.bs-table th small,.responsive-utilities th small{display:block;font-weight:400;color:#999}.responsive-utilities tbody th{font-weight:400}.responsive-utilities td{text-align:center}.responsive-utilities td.is-visible{color:#468847;background-color:#dff0d8!important}.responsive-utilities td.is-hidden{color:#ccc;background-color:#f9f9f9!important}.responsive-utilities-test{margin-top:5px}.responsive-utilities-test .col-xs-6{margin-bottom:10px}.responsive-utilities-test span{display:block;padding:15px 10px;font-size:14px;font-weight:700;line-height:1.1;text-align:center;border-radius:4px}.hidden-on .col-xs-6 .hidden-lg,.hidden-on .col-xs-6 .hidden-md,.hidden-on .col-xs-6 .hidden-sm,.hidden-on .col-xs-6 .hidden-xs,.visible-on .col-xs-6 .hidden-lg,.visible-on .col-xs-6 .hidden-md,.visible-on .col-xs-6 .hidden-sm,.visible-on .col-xs-6 .hidden-xs{color:#999;border:1px solid #ddd}.hidden-on .col-xs-6 .visible-lg-block,.hidden-on .col-xs-6 .visible-md-block,.hidden-on .col-xs-6 .visible-sm-block,.hidden-on .col-xs-6 .visible-xs-block,.visible-on .col-xs-6 .visible-lg-block,.visible-on .col-xs-6 .visible-md-block,.visible-on .col-xs-6 .visible-sm-block,.visible-on .col-xs-6 .visible-xs-block{color:#468847;background-color:#dff0d8;border:1px solid #d6e9c6}.bs-glyphicons{margin:0 -10px 20px;overflow:hidden}.bs-glyphicons-list{padding-left:0;list-style:none}.bs-glyphicons li{float:left;width:25%;height:115px;padding:10px;font-size:10px;line-height:1.4;text-align:center;background-color:#f9f9f9;border:1px solid #fff}.bs-glyphicons .glyphicon{margin-top:5px;margin-bottom:10px;font-size:24px}.bs-glyphicons .glyphicon-class{display:block;text-align:center;word-wrap:break-word}.bs-glyphicons li:hover{color:#fff;background-color:#563d7c}@media (min-width:768px){.bs-glyphicons{margin-right:0;margin-left:0}.bs-glyphicons li{width:12.5%;font-size:12px}}.bs-customizer .toggle{float:right;margin-top:25px}.bs-customizer label{margin-top:10px;font-weight:500;color:#555}.bs-customizer h2{padding-top:30px;margin-top:0;margin-bottom:5px}.bs-customizer h3{margin-bottom:0}.bs-customizer h4{margin-top:15px;margin-bottom:0}.bs-customizer .bs-callout h4{margin-top:0;margin-bottom:5px}.bs-customizer input[type=text]{font-family:Menlo,Monaco,Consolas,"Courier New",monospace;background-color:#fafafa}.bs-customizer .help-block{margin-bottom:5px;font-size:12px}#less-section label{font-weight:400}.bs-customize-download .btn-outline{padding:20px}.bs-customizer-alert{position:fixed;top:0;right:0;left:0;z-index:1030;padding:15px 0;color:#fff;background-color:#d9534f;border-bottom:1px solid #b94441;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.25);box-shadow:inset 0 1px 0 rgba(255,255,255,.25)}.bs-customizer-alert .close{margin-top:-4px;font-size:24px}.bs-customizer-alert p{margin-bottom:0}.bs-customizer-alert .glyphicon{margin-right:5px}.bs-customizer-alert pre{margin:10px 0 0;color:#fff;background-color:#a83c3a;border-color:#973634;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 2px 4px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1)}.bs-dropzone{position:relative;padding:20px;margin-bottom:20px;color:#777;text-align:center;border:2px dashed #eee;border-radius:4px}.bs-dropzone .import-header{margin-bottom:5px}.bs-dropzone .glyphicon-download-alt{font-size:40px}.bs-dropzone hr{width:100px}.bs-dropzone .lead{margin-bottom:10px;font-weight:400;color:#333}#import-manual-trigger{cursor:pointer}.bs-dropzone p:last-child{margin-bottom:0}.bs-brand-logos{display:table;width:100%;margin-bottom:15px;overflow:hidden;color:#563d7c;background-color:#f9f9f9;border-radius:4px}.bs-brand-item{padding:60px 0;text-align:center}.bs-brand-item+.bs-brand-item{border-top:1px solid #fff}.bs-brand-logos .inverse{color:#fff;background-color:#563d7c}.bs-brand-item h1,.bs-brand-item h3{margin-top:0;margin-bottom:0}.bs-brand-item .bs-docs-booticon{margin-right:auto;margin-left:auto}.bs-brand-item .glyphicon{width:30px;height:30px;margin:10px auto -10px;line-height:30px;color:#fff;border-radius:50%}.bs-brand-item .glyphicon-ok{background-color:#5cb85c}.bs-brand-item .glyphicon-remove{background-color:#d9534f}@media (min-width:768px){.bs-brand-item{display:table-cell;width:1%}.bs-brand-item+.bs-brand-item{border-top:0;border-left:1px solid #fff}.bs-brand-item h1{font-size:60px}}.zero-clipboard{position:relative;display:none}.btn-clipboard{position:absolute;top:0;right:0;z-index:10;display:block;padding:5px 8px;font-size:12px;color:#767676;cursor:pointer;background-color:#fff;border:1px solid #e1e1e8;border-radius:0 4px 0 4px}.btn-clipboard-hover{color:#fff;background-color:#563d7c;border-color:#563d7c}@media (min-width:768px){.zero-clipboard{display:block}.bs-example+.zero-clipboard .btn-clipboard{top:-16px;border-top-right-radius:0}}.anchorjs-link{color:inherit}@media (max-width:480px){.anchorjs-link{display:none}}:hover>.anchorjs-link{opacity:.75;-webkit-transition:color .16s linear;-o-transition:color .16s linear;transition:color .16s linear}.anchorjs-link:focus,:hover>.anchorjs-link:hover{text-decoration:none;opacity:1}#focusedInput{border-color:#ccc;border-color:rgba(82,168,236,.8);outline:0;outline:thin dotted\9;-webkit-box-shadow:0 0 8px rgba(82,168,236,.6);box-shadow:0 0 8px rgba(82,168,236,.6)}
/*# sourceMappingURL=docs.min.css.map */

.v4-tease {
    display: block;
    padding: 15px 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}
.v4-tease:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0269c2;
}